* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(25, 25, 25);
}
.headerbg, .title-bg {
    background-color: rgb(50, 0, 110);
}


.title-line{
    color: white;
    font-size: 100px;
    font-weight: 900;
    margin: 50px;
}
.section-title {
    color: #c5b4e3;
    font-size: 70px;
    font-weight: 600;
    margin: 20px;
    text-align: center;
}

.desc {
    color: white;
    font-size: 20px;
    width: clamp(350px, 50vh, 900px);
    margin: 40px;
}

button {
    color: white;
    font-size: 20px;

    padding: 15px;
    width: 170px;
    background-color: rgb(25, 25, 50);
    border: none;
    border-radius: 10px;
}
button:disabled {
    color: black;
    background-color: #c5b4e3;
}


header {
    background-color: rgb(50, 0, 110);
}

section {
    color: white;
    width: clamp(350px, 70vw, 1300px);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}


section {
    margin-top: 100px;
}
section > h2 {
    color: #c5b4e3;
    margin-top: 50px;
}
section > h3 {
    margin-top: 30px;
}

img {
    background-color: aliceblue;
    padding: 20px;
    max-width: 100%;
}
